# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
stk-editor

# VS files
*.sln
*.suo
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

config.xml

libraries/
